@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Amatic+SC:700|EB+Garamond&subset=latin,latin-ext');

h1, h2, h3, h4, .navbar-nav li {
  font-family: 'Amatic SC', cursive;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  color: #444;
}
h3 {
  font-size: 1.7em;
  color: #777;
}
h4 {
  font-size: 1.5em;
  color: #aaa;
}

.content {
  font-family: 'EB Garamond', serif;
  font-size: 1.3em;
}

body { padding-top: 70px; }

#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.map-canvas, .google-map {
  height: 100%;
  width: 100%;
}

.content {
  z-index: 100;
  position: relative;
  background-color: rgba(255, 255, 255, .7);
  border: solid 1px #aaa;
  box-shadow: .1em .1em 5em 1em rgba(0, 0, 0, .2);
}

.navbar {
  z-index: 110;
}

.google-map {
}

.current-section {
  background-color: red;
}

.navbar-brand img {
  height: 25px;
}

.navbar-nav li {
  border: solid #ddd;
  border-width: 0 1px 0 0;
  font-size: 1.5em;
}
