@import "bootstrap";

body { padding-top: 70px; }

#map-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0;
}

.map-canvas, .google-map {
  height: 100%;
  width: 100%;
}

.content {
  z-index: 100;
  position: relative;
  background-color: rgba(255, 255, 255, .6);
  border: solid #aaa;
  border-width: 0 1px;
  box-shadow: .1em .1em 5em 1em rgba(0, 0, 0, .2);
}

.navbar {
  z-index: 110;
}

.google-map {
}

.current-section {
  background-color: red;
}
