@import "bootstrap";
@import url('//fonts.googleapis.com/css?family=Amatic+SC:700|Libre+Baskerville:400,700&subset=latin,latin-ext');

@mixin title() {
  font-family: 'Amatic SC', cursive;
}
@mixin serif() {
  font-family: 'Libre Baskerville', serif;
  font-size: 1em;
}

@mixin front() {
  z-index: 100;
  position: relative;
}

h1, h2, h3, h4, .navbar-nav li {
  @include title;
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
  color: #444;
}
h3 {
  font-size: 1.7em;
  color: #777;
}
h4 {
  font-size: 1.5em;
  color: #aaa;
}

body {
  padding-top: 70px;
}

.prices {
  @extend .table;
  @extend .table-condensed;

  tr {
    td:nth-child(2), td:nth-child(3) {
      white-space: nowrap;
      text-align: right;
      padding-left: 1em;
    }
  }
}

#map-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  padding-top: 50px;
}

.map-canvas, .google-map {
  height: 100%;
  width: 100%;
}

.content {
  @include serif;
  @include front;
  background-color: rgba(255, 255, 255, .9);
  border: solid 1px #aaa;
  box-shadow: .1em .1em 5em 1em rgba(0, 0, 0, .2);
}

.navbar {
  z-index: 110;
}

.navbar-brand img {
  height: 25px;
}

.navbar-nav li {
  border: solid #ddd;
  border-width: 0 1px 0 0;
  font-size: 1.5em;
}

.adsense {
  margin-top: 2em;
  .content {
    padding-top: 2em;
  }
}
