<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 content">
      <script type="text/javascript">
        $(document).ready(function(){
          $('[data-toggle="tooltip"]').tooltip();
        });
      </script>
      <h1>Zápisky z výletu do Malajsie</h1>
      <ul>
        <li>Mezi daty <strong>17. prosince 2014</strong> a <strong>7. ledna 2015</strong> se vydala šestičlenná výprava z Čech prozkoumávat přírodu a kulturu Malajského státu.</li>
        <li>Celkově mě výlet <abbr data-toggle="tooltip" title="letenka, nákup nezbytností doma, nákup dárků, doprava + ubytování + jídlo v cizině">se vším všudy</abbr> vyšel na <strong>50'000 Kč</strong>.</li>
        <li>Přes počáteční obavy z neznámé exotické země proběhlo vše velmi hladce. Snaha okrást turistu je zde maximálně na úrovni nesmyslně vyšponovaných cen. Nikdy jsme neměli pocit, že by nám někdo chtěl nejak ublížit.</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 content">
      <hr />
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- Responsive -->
      <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-0199564313573376"
      data-ad-slot="1700977345"
      data-ad-format="auto"></ins>
      <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
      <hr />
    </div>
  </div>
</div>
