<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "index" class="navbar-brand"}}
        <img alt="Malajská vlajka" src="./icon.png" />
      {{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {{#each sectionsSorted as |section|}}
          {{#link-to 'section' section tagName='li'}}
            <a href="#">
              {{section.abbreviation}}
            </a>
          {{/link-to}}
        {{/each}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

{{outlet}}

<div id="map-container">
  {{google-map
    lat=5
    lng=100
    zoom=5
    markers=markers
    gopt_mapTypeControl=false
    gopt_style=styles
    gopt_zoomControl=false
    gopt_streetViewControl=false
    gopt_scrollwheel=false
    gopt_scaleControl=false
    gopt_rotateControl=false
    gopt_panControl=false
    gopt_backgroundColor='transparent'}}
</div>
