<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 content">
      <h2>
        {{!fa-icon "circle"}}
        {{attrs.section.title}}
      </h2>
        {{markdown-to-html markdown=attrs.section.body}}

      {{!#link-to 'section.edit' attrs.section.id class="btn btn-default"}}
        {{!fa-icon "pencil"}}
      {{!/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
