<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 col-xs-offset-1 content">
      <h2>
        {{!fa-icon "circle"}}
        {{attrs.section.title}}

        {{#link-to 'section.edit' attrs.section.id class="btn btn-default"}}
          Edit
        {{/link-to}}
      </h2>
      {{markdown-to-html markdown=attrs.section.body}}
    </div>

    {{outlet}}
  </div>
</div>
