<div class="row adsense">
  <div class="col-xs-offset-1 col-xs-6 col-md-4 content">
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <!-- Responsive -->
    <ins class="adsbygoogle"
    style="display:block"
    data-ad-client="ca-pub-0199564313573376"
    data-ad-slot="1700977345"
    data-ad-format="auto"></ins>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
  </div>
</div>
