<h2>#{{section.order}} {{section.title}}</h2>

{{#if isCurrent}}
  <div class="well">
    <p>
      {{markdown-to-html markdown=section.body}}
    </p>

    {{#link-to 'sections.edit' section.id class="btn btn-link"}}
      Edit
    {{/link-to}}
  </div>
{{/if}}
