<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      {{section.order}}. {{section.title}}
    </h3>
  </div>

{{#if isCurrent}}
  <div class="panel-body">
    <p>
      {{markdown-to-html markdown=section.body}}
    </p>

    {{#link-to 'sections.edit' section.id class="btn btn-link"}}
      Edit
    {{/link-to}}
  </div>
{{/if}}
</div>
